.about {
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 10vw;
  padding: 1vw;
  text-align: center;
  margin-right: 10vw;
  margin-top: 2vh;
}

.main {
  font-size: larger;
}

.authorRow {
  display: flex;
  justify-content: center;
  height: 100%;
}

.author {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 20vw;
  height: 60vh;
  border: solid;
  border-width: 0.1rem;
  padding: 2%;
}

.photo {
  max-height: 75%;
  margin-bottom: auto;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
